{% if site.comments.provider and page.comments %}
  <section id="comments" class="page__comments">
    <h4 class="page__comments-title">{{ comments_label }}</h4>

    {% case site.comments.provider %}
      {% when "utterances" %}
        <div class="comments__wrap">
          {% include comments-providers/utterances.html %}
        </div>
      {% when "disqus" %}
        {% include comments-providers/disqus.html %}
      {% when "facebook" %}
        {% include comments-providers/facebook.html %}
      {% when "staticman" %}
        {% include comments-providers/staticman.html %}
      {% when "staticman_v2" %}
        {% include comments-providers/staticman_v2.html %}
    {% endcase %}
  </section>
{% endif %}
